# Ignore everything
*
# But descend into directories
!*/

!.gitignore
!.vscodeignore
!README.md
!CHANGELOG.md
!package.json
!package-lock.json
!tsconfig.json
!.eslintrc.json
!.vscode-test.mjs


!/src/**
!/syntaxes/**

# We'll keep the vscode configuration in this folder, as we know we'll be using vscode to develop this.
!.vscode/**

# This seems to be required, otherwise it won't blacklist this properly
node_modules/


# Remove this eventually
!vsc-extension-quickstart.md
